*.env
*.properties
application-production.yml

/app-angular

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

!**/src/main/**/build/
!**/src/test/**/build/


node_modules/
package-lock.json

.idea/
.DS_Store
